In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import regex as re
import seaborn as sns

In [7]:
# Import the data
df = pd.read_csv("../data/artwork_data.csv")  #..(relative path, goes to the parent directory) vs. C:Users (absolute path)

C:\Users\jenny\AppData\Local\Temp\ipykernel_6828\3232727371.py:2: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/artwork_data.csv")  #..(relative path, goes to the parent directory) vs. C:Users (absolute path)

### Data cleaning

In [9]:
# Set some global options so we always see all of the columns and rows when we print something out
pd.set_option('display.max_columns', 100) # 100 cols
pd.set_option('display.max_rows', 50) # 50 rows
print(df.head)

<bound method NDFrame.head of            id accession_number              artist artistRole  artistId
0        1035           A00001       Blake, Robert     artist        38  \
1        1036           A00002       Blake, Robert     artist        38
2        1037           A00003       Blake, Robert     artist        38
3        1038           A00004       Blake, Robert     artist        38
4        1039           A00005      Blake, William     artist        39
...       ...              ...                 ...        ...       ...
69196  122960           T13865  P-Orridge, Genesis     artist     16646
69197  122961           T13866  P-Orridge, Genesis     artist     16646
69198  121181           T13867        Hatoum, Mona     artist      2365
69199  112306           T13868       Creed, Martin     artist      2760
69200  127035           T13869   Brunias, Agostino     artist      3824

                                                   title
0      A Figure Bowing before a Seated Old Man with h...  \
1      Two Drawings of Frightened Figures, Probably f...
2      The Preaching of Warning. Verso: An Old Man En...
3         Six Drawings of Figures with Outstretched Arms
4      The Circle of the Lustful: Francesca da Rimini...
...                                                  ...
69196                        Larvae (from Tampax Romana)
69197                   Living Womb (from Tampax Romana)
69198                                      Present Tense
69199          Work No. 227: The lights going on and off
69200                   Dancing Scene in the West Indies

                     dateText
0              date not known  \
1              date not known
2                     ?c.1785
3              date not known
4      1826–7, reprinted 1892
...                       ...
69196                    1975
69197                    1976
69198                    1996
69199                    2000
69200                 1764–96

                                                  medium
0      Watercolour, ink, chalk and graphite on paper....  \
1                                      Graphite on paper
2            Graphite on paper. Verso: graphite on paper
3                                      Graphite on paper
4                                Line engraving on paper
...                                                  ...
69196   Perspex, Wood, hairpiece, tampon and human blood
69197  Wood, Perspex, plastic, photograph on paper, t...
69198                               Soap and glass beads
69199                                   Gallery lighting
69200                                Oil paint on canvas

                                              creditLine    year
0                    Presented by Mrs John Richmond 1922     NaN  \
1                    Presented by Mrs John Richmond 1922     NaN
2                    Presented by Mrs John Richmond 1922  1785.0
3                    Presented by Mrs John Richmond 1922     NaN
4      Purchased with the assistance of a special gra...  1826.0
...                                                  ...     ...
69196                 Transferred from Tate Archive 2012    1975
69197                 Transferred from Tate Archive 2012    1976
69198                     Presented by Tate Members 2013    1996
69199  Purchased with funds provided by Tate Members,...    2000
69200  Purchased with assistance from Tate Patrons an...    1764

       acquisitionYear                           dimensions width  height
0               1922.0                support: 394 x 419 mm   394   419.0  \
1               1922.0                support: 311 x 213 mm   311   213.0
2               1922.0                support: 343 x 467 mm   343   467.0
3               1922.0                support: 318 x 394 mm   318   394.0
4               1919.0                  image: 243 x 335 mm   243   335.0
...                ...                                  ...   ...     ...
69196           2013.0           object: 305 x 305 x 135 mm   305   305.0
69197           2013.0           object: 305 x 305 x 135 mm   305   305.0
69198           2013.0       displayed: 45 x 2410 x 2990 mm    45  2410.0
69199           2013.0  Overall display dimensions variable   NaN     NaN
69200           2013.0            unconfirmed: 508 x 660 mm   508   660.0

        depth units inscription thumbnailCopyright
0         NaN    mm         NaN                NaN  \
1         NaN    mm         NaN                NaN
2         NaN    mm         NaN                NaN
3         NaN    mm         NaN                NaN
4         NaN    mm         NaN                NaN
...       ...   ...         ...                ...
69196   135.0    mm         NaN                NaN
69197   135.0    mm         NaN                NaN
69198  2990.0    mm         NaN                NaN
69199     NaN   NaN         NaN                NaN
69200     NaN    mm         NaN                NaN

                                            thumbnailUrl
0      http://www.tate.org.uk/art/images/work/A/A00/A...  \
1      http://www.tate.org.uk/art/images/work/A/A00/A...
2      http://www.tate.org.uk/art/images/work/A/A00/A...
3      http://www.tate.org.uk/art/images/work/A/A00/A...
4      http://www.tate.org.uk/art/images/work/A/A00/A...
...                                                  ...
69196                                                NaN
69197                                                NaN
69198                                                NaN
69199                                                NaN
69200  http://www.tate.org.uk/art/images/work/T/T13/T...

                                                     url
0      http://www.tate.org.uk/art/artworks/blake-a-fi...
1      http://www.tate.org.uk/art/artworks/blake-two-...
2      http://www.tate.org.uk/art/artworks/blake-the-...
3      http://www.tate.org.uk/art/artworks/blake-six-...
4      http://www.tate.org.uk/art/artworks/blake-the-...
...                                                  ...
69196  http://www.tate.org.uk/art/artworks/p-orridge-...
69197  http://www.tate.org.uk/art/artworks/p-orridge-...
69198  http://www.tate.org.uk/art/artworks/hatoum-pre...
69199  http://www.tate.org.uk/art/artworks/creed-work...
69200  http://www.tate.org.uk/art/artworks/brunias-da...

[69201 rows x 20 columns]>

### Join the name of the female artist to the name of the art work

Find out the artworks by the female artist: Beale, Mary

In [11]:
filtered_df = df[(df['artist'] == 'Beale, Mary')]
print(filtered_df)

           id accession_number       artist artistRole  artistId
62036   20462           T06612  Beale, Mary     artist      2306  \
68577  112238           T13245  Beale, Mary     artist      2306
68578  112239           T13246  Beale, Mary     artist      2306

                                                   title dateText
62036                           Portrait of a Young Girl   c.1681  \
68577  Sketch of the Artist’s Son, Bartholomew Beale,...  c. 1660
68578  Sketch of the Artist’s Son, Bartholomew Beale,...  c. 1660

                    medium      creditLine    year  acquisitionYear
62036  Oil paint on canvas  Purchased 1992  1681.0           1992.0  \
68577   Oil paint on paper  Purchased 2010    1660           2011.0
68578   Oil paint on paper  Purchased 2010    1660           2011.0

                                           dimensions width height  depth
62036  support: 535 x 460 mm frame: 710 x 640 x 77 mm   535    460    NaN  \
68577                           support: 325 x 245 mm   325  245.0    NaN
68578                           support: 325 x 245 mm   325  245.0    NaN

      units inscription thumbnailCopyright
62036    mm         NaN                NaN  \
68577    mm         NaN                NaN
68578    mm         NaN                NaN

                                            thumbnailUrl
62036  http://www.tate.org.uk/art/images/work/T/T06/T...  \
68577  http://www.tate.org.uk/art/images/work/T/T13/T...
68578  http://www.tate.org.uk/art/images/work/T/T13/T...

                                                     url
62036  http://www.tate.org.uk/art/artworks/beale-port...
68577  http://www.tate.org.uk/art/artworks/beale-sket...
68578  http://www.tate.org.uk/art/artworks/beale-sket...